@import url(http://fonts.googleapis.com/css?family=Inconsolata);

@import url(http://fonts.googleapis.com/css?family=PT+Sans);

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
	display: block;
}

audio,canvas,video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

a:focus {
	outline: thin dotted;
}

a:active,a:hover {
	outline: 0;
}

h1 {
	font-size: 2em;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

code,kbd,pre,samp {
	font-family: monospace,serif;
	font-size: 1em;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
	font-size: 80%;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

legend {
	border: 0;
	padding: 0;
}

button,input,select,textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

button,input {
	line-height: normal;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],input[disabled] {
	cursor: default;
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-family: 'PT Sans',sans-serif;
}

pre,code {
	font-family: 'Inconsolata',sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'PT Sans Narrow',sans-serif;
	font-weight: 700;
}

html {
	background-color: #1d1e20;
	color: #c7cec6;
	margin: 1em;
}

body {
	background-color: #1d1e20;
	margin: 0 auto;
	max-width: 23cm;
	border: 1pt solid #586e75;
	padding: 1em;
}

code {
	background-color: #073642;
	padding: 2px;
}

a {
	color: #b58900;
}

a:visited {
	color: #b58900;
}

a:hover {
	color:  #b58900;
}

h1 {
	color: #c7cec6;
}

h2,h3,h4,h5,h6 {
	color: #c7cec6;
}

pre {
	background-color: #002b36;
	color: #839496;
	border: 1pt solid #586e75;
	padding: 1em;
	box-shadow: 5pt 5pt 8pt #073642;
}

pre code {
	background-color: #002b36;
}

h1 {
	font-size: 2.8em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.3em;
}

h6 {
	font-size: 1.15em;
}

.tag {
	background-color: #073642;
	color: #d33682;
	padding: 0 .2em;
}

.todo,.next,.done {
	color: #002b36;
	background-color: #dc322f;
	padding: 0 .2em;
}

.tag {
	-webkit-border-radius: .35em;
	-moz-border-radius: .35em;
	border-radius: .35em;
}

.TODO {
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	background-color: #2aa198;
}

.NEXT {
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	background-color: #268bd2;
}

.ACTIVE {
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	background-color: #268bd2;
}

.DONE {
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	background-color: #859900;
}

.WAITING {
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	background-color: #cb4b16;
}

.HOLD {
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	background-color: #d33682;
}

.NOTE {
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	background-color: #d33682;
}

.CANCELLED {
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	background-color: #859900;
}

/* Additional latex styling from https://github.com/vincentdoerig/latex-css */
/* Theorem */
.theorem {
  counter-increment: theorem;
  display: block;
  margin: 12px 0;
  font-style: italic;
}
.theorem::before {
  content: 'Theorem ' counter(theorem) '. ';
  font-weight: bold;
  font-style: normal;
}

/* Example */
.example {
	counter-increment: example;
	display: block;
	margin: 12px 0;
	font-style: italic;
}
.example::before {
	content: 'Example ' counter(example) '. ';
	font-weight: bold;
	font-style: normal;
}

/* Lemma */
.lemma {
  counter-increment: theorem;
  display: block;
  margin: 12px 0;
  font-style: italic;
}
.lemma::before {
  content: 'Lemma ' counter(theorem) '. ';
  font-weight: bold;
  font-style: normal;
}

/* Proof */
.proof {
  display: block;
  margin: 12px 0;
  font-style: normal;
  position: relative;
}
.proof::before {
  content: 'Proof. ' attr(title);
  font-style: italic;
}
.proof:after {
  content: '◾️';
  position: absolute;
  right: -12px;
  bottom: -2px;
}

/* Definition */
.definition {
  counter-increment: definition;
  display: block;
  margin: 12px 0;
  font-style: normal;
}
.definition::before {
  content: 'Definition ' counter(definition) '. ';
  font-weight: bold;
  font-style: normal;
}

/* Sidenotes */

.sidenote {
  font-size: 0.8rem;
  float: right;
  clear: right;
  width: 18vw;
  margin-right: -20vw;
  margin-bottom: 1em;
}

.sidenote.left {
  float: left;
  margin-left: -20vw;
  margin-bottom: 1em;
}

/* (WIP) add border when a sidenote is clicked on */
.sidenote:target {
  border: hsl(55, 55%, 70%) 1.5px solid;
  padding: 0 .5rem;
  scroll-margin-block-start: 10rem;
}

/* sidenote counter */
.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number::after,
.sidenote::before {
  position: relative;
  vertical-align: baseline;
}

/* add number in main content */
.sidenote-number::after {
  content: counter(sidenote-counter);
  font-size: 0.7rem;
  top: -0.5rem;
  left: 0.1rem;
}

/* add number in front of the sidenote */
.sidenote-number ~ .sidenote::before {
  content: counter(sidenote-counter) ' ';
  font-size: 0.7rem;
  top: -0.5rem;
}

label.sidenote-toggle:not(.sidenote-number) {
  display: none;
}

/* sidenotes inside blockquotes are indented more */
blockquote .sidenote {
  margin-right: -24vw;
  width: 18vw;
}


label.sidenote-toggle {
  display: inline;
  cursor: pointer;
}

input.sidenote-toggle {
  display: none;
}

@media (max-width: 1050px) {
  label.sidenote-toggle:not(.sidenote-number) {
    display: inline;
  }
  .sidenote {
    display: none;
  }
  .sidenote-toggle:checked + .sidenote {
    display: block;
    margin: 0.5rem 1.25rem 1rem 0.5rem;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
  }
  /* tweak indentation of sidenote inside a blockquote */
  blockquote .sidenote {
    margin-right: -25vw;
    width: 16vw;
  }
}

/* Make footnote text smaller and left align it (looks bad with long URLs) */
.footnotes p {
  text-align: left;
  line-height: 1.5;
  font-size: 85%;
  margin-bottom: 0.4rem;
}
.footnotes {
  border-top: 1px solid hsl(0, 0%, 39%);
}
